<h2>Template: Basics</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="save()" #myForm="ngForm" autocomplete="off">
      <!--Product name-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Product:</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [ngModel] = 'initForm.product'
            name="product"
            placeholder="Product name"
            required
            minlength="3"
          />
          <span
            class="form-text text-danger"
            *ngIf='validateName()'
            >Miniun 3 letters</span
          >
        </div>
      </div>

      <!--Product price-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Price:</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            ngModel
            name="price"
            placeholder="Product price"
            required
          />
          <span
            class="form-text text-danger"
            *ngIf='validatePrice()'
            >Price mayor to zero</span
          >
        </div>
      </div>

      <!--Product quantity-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Quantity:</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            ngModel
            name="quantity"
            placeholder="Product quantity"
            customMin
            [minimo]="0"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="myForm.invalid"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid }}</pre>
  </div>
  <div class="col">
    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>
  </div>
  <div class="col">
    <span>Pristine</span>
    <pre>{{ myForm.pristine }}</pre>
  </div>
  <div class="col">
    <span>Touched</span>
    <pre>{{ myForm.touched }}</pre>
  </div>
</div>
