<h2>Reactive: Dinamics</h2>
<hr />

<form>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        placeholder="Write name a person"
      />
      <span
        class="form-text text-danger"
      >
        This camp is requeried
      </span>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favourite</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Write a favourite"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
        >
          Add
        </button>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary float-end" type="button">
        Save
      </button>
    </div>
  </div>
</form>
<!-- <div>
  <pre>{{ personOne | json }}</pre>
</div> -->
